@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 68%, 64%) ;
    font-family: 'Poppins';
    text-align: center;
    padding: 70px 30px;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 25px;
}

p {
    color: rgb(245, 236, 236);
}

.text-section p {
    margin-bottom: 45px;
}

.free-trial {
    border-radius: 10px;
    background-color:  hsl(248, 32%, 49%);
    color: rgb(245, 236, 236);
    padding: 10px 40px;
    margin-bottom: 30px;
    box-shadow: 0 6px rgba(68, 66, 66, 0.2);
}

.free-trial > a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.form-container {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 8px rgba(68, 66, 66, 0.2);
}

input {
    margin-bottom: 18px;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(212, 210, 210);;
    border-radius: 6px;
    outline: none;
    font-weight: 600;
}

.error {
    font-size: 10px;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: right;
    color: red;
    opacity: 0;
}

.show-error {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.trial-btn {
    color: white;
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 0 5px rgba(14, 172, 103, 0.8);
}

.trial-btn:hover{
    transform: scale(1.01);
}

.terms {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 10px;
    color: rgb(196, 188, 188);
}

.terms a {
    color:hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 600;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 30px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
}

@media screen and (min-width: 1000px) {
    body{
        height: 100vh;
    }

    main {
        display: flex;
        justify-content: space-between;
        padding: 0 90px;
    }

    .text-section {
        text-align: left;
        padding: 150px 0;
        margin-right: 80px;
    }

    .form-section {
        width: 80%;
    }

    .attribution { 
        font-size: 12px;
    }    
}

@media screen and (width: 1024px) {
    main {
        padding: 0 50px;
    }

    .form-section {
        width: 100%;
    }

    footer{
        padding-bottom: 20px;
    }
}